<h4 style="color: blue;">hello-world works!</h4>
<br>
Order ID : <input type="text" [(ngModel)]="orderId"><br>
Customer Name : <input type="text" [(ngModel)]="custName"><br>
Billing Date : <input type="date" [(ngModel)]="billDate"><br>
Shipping Date : <input type="date" [(ngModel)]="shipDate"><br>
Order Total : <input type="text" [(ngModel)]="total"><br><br>
Order ID : {{ orderId }}<br><br>
Customer Name : {{ custName }}<br><br>
Billing Date : {{ billDate }}<br><br>
Shipping Date : {{ shipDate }}<br><br>
Order Total : {{ total }}<br><br>